h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  display: table;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: green;
  display: block;
  float: left;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 50%;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: #25BC19;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li ul li ul {
  visibility: hidden;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: -3.3rem;
  left: 169px;
  display: none;
  }


ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}